/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

\.idea/dataSources\.local\.xml

\.idea/dataSources/e0c81ab4-d189-4eeb-9de8-6ebd8f9d8961\.corrupted\.20190506-032243\.reason\.txt

\.idea/dataSources/e0c81ab4-d189-4eeb-9de8-6ebd8f9d8961\.corrupted\.20190506-032243\.xml

\.idea/dataSources/e0c81ab4-d189-4eeb-9de8-6ebd8f9d8961\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

composer\.lock

\.idea/
