body {
    margin: 0;
    padding: 0;
    background-color: #EEF2FC;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
a.headerLink:link{
  color: #2980b9;
}
a.headerLink:hover{
  color: #82ccdd;
}
a.footerLink:link{
    color: #BABDC2;
}
a.footerLink:hover {
    color: #82ccdd;
}
a.redlink:link{
    color: #972329;
}
a.redlink:visited{
    color: #972329;
}
a.redlink:hover{
    color: #E47B80;
}
header{
    background-color: #ffffff;
}
footer{
    background-image: linear-gradient(#353A46, #1E2431);
}
/* navbar */
.navbar-default {
    /*background-image: linear-gradient(#3460C7, #547AD3);*/
    background-color: #972329;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    box-shadow: inset 0 -4px 0 0 #E47B80;
    color: #E47B80;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.memoriaContainer{
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
}

hr.bluered{
    height: 1px;
    background-image: linear-gradient(to right,
    blue    20%,
    red  20%,
    red  100%
    );
}

.cardHeader{
     padding:.75rem 1.25rem;
     margin-bottom:0;
     background-color:#227dc7;
     border-bottom:1px solid rgba(0,0,0,.125);
     color:#f5f5f5
}

.textoHeader{
    font-size: 90%;
    font-family: "Source Sans Pro", sans-serif;
}