#panel_izquierdo-qsomos{
    background: rgb(255,255,197);
    height: auto;
    padding-top: 3%;
    padding-right: 0;
    padding-left: 0;
}

#button-side-qsomos{
    margin: 0;
    width: 100%;
    background: #972329;
    border-radius: 0;
    color: white;
    text-align: center;
}

#button-side-qsomos:hover{
    background: #971000;
    font-weight: bold;
}

#separador-sidebar-qsomos{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#title-qsomos{
    margin-top: 3%;
    margin-bottom: 3%;
}

#cuerpo-qsomos{
    background: rgb(255,255,197, 0.5);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#video-qsomos{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

#video-qsomos #ytplayer{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#text_main-qsomos{
    margin-top: 3%;
}

#card{
    margin: 10px;
    height: 8%;
    width: 250px;
}

.shadow {
    -webkit-box-shadow: inset 15px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 15px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 15px 0px 20px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 2;
}